/***GENERAL-CSS***/
/***Titulos y Subtitulos***/
h1, h2, h3, p, header{
    color:mediumvioletred;
    font-family: 'Asset', cursive;
    font-family: 'Gayathri', sans-serif;
}

/***Parrafos***/
p, div, section, select, form, #btn{
    font-size: large;
    color: black;
    font-family: 'Asset', cursive;
    font-family: 'Gayathri', sans-serif;
}

/***Alineaciones***/
#alnDr{
    text-align: right;
}

#alnIz{
    text-align: left;
}

#alnCt{
    text-align: center;
}

/***Botones***/
#btn{
    text-align: center;
}


/***INICIO***/
/***Imagen Logo***/
#logo{
    position: absolute;
    width: 15%;
    margin-top: 15px;
    margin-left: 1opx;
}

/***Menú Registro***/
.menuReg{
    text-align: right;
}

.menuReg li{
    display: inline-block;
}

.menuReg li a{
    text-decoration: none;
    padding: 4px 14px;
    color: purple;
    display: block;
    width: 100px;
}   

.menuReg li a:hover{
    background: darkorchid; 
}

/***Menú Navegador***/
.menuNav{
    background-color: pink;
    width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0 0 0 300px; /*Arriba, Abajo, Derecha, Izquierda*/
    list-style: none;
}

.menuNav li{
    float: left;
}

.menuNav li a{
    width: 100px;
    display: block;
    text-decoration: none;
    padding: 20px 15px;
    color: purple;
    text-align: center;
}

.menuNav li a:hover{
    background: darkorchid; 
}


/***SERVICIOS***/

/***COTIZACIÓN***/

/***CONTÁCTANOS***/

/***REGÍSTRATE***/

/***INICIO SESIÓN***/